<br>
<h2>All members</h2>

<br>
<br>
<p>
  <%= link_to "Create new member", new_user_path, class: 'btn btn-success' %>
</p>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</td>
      <th scope="col">Open their site</td>
      <th scope="col">Friends</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= link_to "#{u.name}", user_path(u) %></td>
        <td><%= link_to "geerup.com/#{u.slug}", "http://www.geerup.com/#{u.slug}", :target => "_blank", class: 'btn btn-success btn-sm' %></td>
        <td><%= u.friends.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

